digraph sshmapper {
  node [shape=record];
  {# Each host is a subgraph. Each user is a node in the subgraph. Arrows from one node to another show that the user can SSH as the other user on the other host -#}

  {% for host in hosts %}
  subgraph cluster_{{ host }} {
    label = {{ host }}

    {%- for user in hosts[host] %}
    {{ host }}_{{ user }} [ label = "{{ user }}" ]
    {% endfor %}
  }
  {% endfor %}

  {#- Now we do the linkages between nodes -#}

  {% for key in keys -%}
    {%- for source in keys[key]['sources'] -%}
      {%- for target in keys[key]['targets'] %}
  {{ source[0] }}_{{ source[1] }} -> {{ target[0] }}_{{ target[1] }}
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
}
